nav a, nav a:visited{
    color: rgb(255, 255, 255);
    margin-right:20px;
    margin-left:20px;
}

nav a{
    text-decoration:none;
}

nav a:hover{
    text-decoration: underline;
}

nav{
    text-align: end;
}

header {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    z-index:9;
    position: relative;
    transform-origin: center;
    transform-style: preserve-3d;
    height: auto;
    --element_width: 600px;
    align-items: center;
    width: var(--element_width);
}