header{
    color:white;
    display:flex;
    z-index:10;
    align-items: center;
    justify-content: space-between;
}

header h1 a{
    color:white;
    text-decoration: none;
}

header h1 a:hover, nav a:hover{
    text-decoration: underline;
}

nav{
    text-align: end;
    color:white;
}

nav a, nav a:visited{
    color: rgb(255, 255, 255);
    margin-right:20px;
    margin-left:20px;
}

nav a{
    text-decoration:none;
}

.top{
    display:flex;
    justify-content: center;
}

.logo {
    display:flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:auto;
}

.unit{
    background-color:black;
    border-radius: 40px;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 900px;
    align-items: center;
}


.unit_title{
    text-align: center;
    margin-bottom: 5px;
}

.content{
    margin-right:20px;
}
.title{
    text-align: left;
}
