header{
    color:white;
    display:flex;
    z-index:10;
    align-items: center;
    justify-content: space-between;
}

header h1 a{
    color:white;
    text-decoration: none;
}

header h1 a:hover, nav a:hover{
    text-decoration: underline;
}

nav{
    text-align: end;
    color:white;
}

nav a, nav a:visited{
    color: rgb(255, 255, 255);
    margin-right:20px;
    margin-left:20px;
}

nav a{
    text-decoration:none;
}


.logo {
    z-index:9;
    position: relative;
    transform-origin: center;
    transform-style: preserve-3d;
    height: auto;
    --element_width: 600px;
    align-items: center;
    width: var(--element_width);
}

.unit{
    background-color:black;
    border-radius: 40px;
    padding:40px;
    display:flex;
    justify-content: center;
    margin:20px;
    width:900px;
}

.title{
    text-align: left;
}