nav {
    text-align: end;
    color:white;
}

nav a, nav a:visited {
    color: rgb(255, 255, 255);
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}

nav a {
    text-decoration:none;
}

.top{
    display:flex;
    justify-content: center;
}

.logo {
    display:flex;
    justify-content: center;
    align-items: center;
    width:40%;
    height:auto;
}

.unit {
    background-color:black;
    border-radius: 2.5rem;
    padding: 1rem;
    margin:3rem auto 3rem auto;
    width: 90%;
    text-align: center;
    min-height: 5vh;
}

.unit_title {
    text-align: center;
    margin-bottom: 1rem;
}

.content {
    margin-right:1.2rem;
}

.title {
    margin-top: 1.2rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom:1.2rem;
}