
* {
    margin: 0;
    padding: 0;
}

html {
    --background-color-1: #222;
    --background-color-2: #384829;
    --area-padding: 1rem;
    background-color: #312d2d;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.webpage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin:0;
}

main {
    flex: 1 0 auto;
}

footer, header {
    padding: var(--area-padding);
    background-color: var(--background-color-1);
    font-size: .75rem;
}

header {
    color:white;
    display:flex;
    z-index:10;
    align-items: center;
    justify-content: space-between;
    top:0;
}

header h1 a {
    color:white;
    text-decoration: none;
}

header h1 a:hover, nav a:hover {
    text-decoration: underline;
}

footer {
    flex-shrink: 0;

}

footer p {
    padding: .4rem;
}

.unit:nth-child(odd) {
    background-color: #4b6f4f;
}

.unit:nth-child(even) {
    background-color: #314933;
}
