
* {
    margin: 0;
    padding: 0;
}

html {
    --background-color-1: #222;
    --background-color-2: #333;
    --area-padding: 1rem;
    background-color: var(--background-color-1);
    color: #ddd;
    font-family: cursive;
    font-size: 1.5rem;
}

#top {
    height: 80vh;
    background-color: #ff00ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top-logo {
    height: 80%;
    width: auto;
}

footer, header {
    padding: var(--area-padding);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--background-color-1);
}

section {
    display: flex;
    justify-content: center;
    padding: var(--area-padding) calc((100% - min(80ch, 100%)) / 2 + var(--area-padding));
}

section:nth-child(even) {
    background-color: var(--background-color-1);
}

section:nth-child(odd) {
    background-color: var(--background-color-2);
}
