
* {
    margin: 0;
    padding: 0;
}

html {
    --background-color-1: #222;
    --background-color-2: #333;
    --area-padding: 1rem;
    background-color: rgb(255, 0, 221);
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

main {
    height: 100%;
    margin: 0;
}

footer, header {
    padding: var(--area-padding);
    background-color: var(--background-color-1);
    font-size: .75rem;
}

header {
    position: sticky;
    top: 0;
}

footer {
    margin-top: auto;
}

section {
    display: flex;
    justify-content: center;
    padding: var(--area-padding) calc((100% - min(80ch, 100%)) / 2 + var(--area-padding));
}

section:nth-child(even) {
    background-color: var(--background-color-1);
}

section:nth-child(odd) {
    background-color: var(--background-color-2);
}
